# Entorno
venv/
.venv/
__pycache__/
*.pyc
.env

# Salidas regenerables (los crudos sintéticos sí se versionan)
data/output/
*.duckdb
*.duckdb.wal
warehouse/*.duckdb

# Power BI
*.pbix.tmp
.ipynb_checkpoints/
